body {
  margin: 0;
  text-align: center;
}
.options-container {
  width: 97%;
  margin: 0 auto;
}
.option {
  text-align: center;
  display: inline-block;
  width: 19%;
}
.section-left {
  float: left;
  width: 47%;
  margin-top: 25px;
  padding-right: 10px;
  padding-left: 25px;
}
.section-right {
  float: right;
  width: 47%;
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 25px;
}